<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" placeholder="Name" name="name" id="name">
        <input type="text" placeholder="Price" name="prices" id="prices">
        <input type="text" placeholder="Description" name="description" id="description">
        <input type="file" accept="image/*" name="upload" id="upload">
        <button type="submit" name="Add Item" value="Add Item">Add Item</button>
    </form>
</body>
</html>