<!DOCTYPE html>
{% extends "appshop/base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    <div class="flex p-10 w-1/4 h-200">
        <img src="{{item.image.url}}" alt="itemphoto">
        <div class="w-2/3 text-xl ml-10 mt-5">
            <p class="mt-5">{{ item.name }}</p>
            <p class="mt-5 text-green-500">{{ item.prices }} BLR</p>
            <p class="mt-5 text-gray-700 text-base">{{ item.description }}</p>
        </div>
    </div>
  <h1>This detail page for: {{item.name}}</h1>
{% endblock content %}
</body>
</html>